<html>
    <head>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css">-->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-LS4/wo5Z/8SLpOLHs0IbuPAGOWTx30XSoZJ8o7WKH0UJhRpjXXTpODOjfVnNjeHu" crossorigin="anonymous">        
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
        <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
        <script src="logic.js"></script>
        <title>FFXIV - Vendor Items on the Market Board</title>
    </head>
    <body>
        <div class="container">
            <div class="container-fluid">
                <br/>
                <br/>
                <h1>FFXIV - Vendor Items on the Market Board</h1>
                <div class="row">
                    <br/>
                </div>
                <div class="row" id="app">
                    <div class="row">
                        <div class="col">
                            Select a realm to get the market data from!
                        </div>
                        <div class="col">
                            <b-form-select v-model="selected" :options="servers"></b-form-select>
                        </div>
                        <div class="col">
                            <b-button v-on:click="getData" class="mr-2" variant="primary">
                                Get Data
                            </b-button>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                        <br/>
                        <br/>
                    </div>
                    <b-table 
                        thead-tr-class="table-primary"
                        striped 
                        dark 
                        hover
                        small
                        :sort-by.sync="sortBy"
                        :sort-desc.sync="sortDesc"
                        :fields="fields"
                        :items="items"
                    >
                        <template slot="show_listings" slot-scope="row">
                            <b-button size="sm" @click="row.toggleDetails" v-on:click="toggleHistory(false)" class="mr-2" variant="primary">
                                {{ row.detailsShowing ? 'Hide' : 'Show'}} Listings
                            </b-button>
                        </template>
                        <template slot="show_history" slot-scope="row">
                            <b-button size="sm" @click="row.toggleDetails" v-on:click="toggleHistory(true)" class="mr-2" variant="primary">
                                {{ row.detailsShowing ? 'Hide' : 'Show'}} History
                            </b-button>
                        </template>
                        <template slot="row-details" slot-scope="row">
                            <b-table v-if="isHistory" :items="row.item.history"
                                thead-tr-class="table-primary"
                                striped 
                                dark 
                                hover
                                small
                            >
                                <template slot="sold_on" slot-scope="data"> {{ new Date(data.value * 1000).toLocaleString() }} </template>
                            </b-table>
                            <b-table v-else :items="row.item.sub_listings"
                                thead-tr-class="table-primary"
                                striped 
                                dark 
                                hover
                                small
                            ></b-table>
                        </template>
                    </b-table>
                </div>
            </div>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: () => ({
                    sortBy: "ID",
                    sortDesc: false,
                    fields: [
                        { key: "ID", sortable: true},
                        { key: "item_name", sortable: true},
                        { key: "listings", sortable: true},
                        { key: "vendor_price", sortable: true},
                        { key: "lowest_price", sortable: true},
                        { key: "avg_price", sortable: true},
                        { key: "profit", sortable: true},
                        { key: "time_to_sell", sortable: true},
                        { 
                            key: "last_sale_date", 
                            sortable: true,
                            formatter: (value, key, item) => {
                                return new Date(value * 1000).toLocaleString();
                            }
                        },
                        { key: "show_listings"},
                        { key: "show_history"}
                    ],
                    items: tableData,
                    selected: "Ragnarok",
                    servers: serverOptions
                }),
                methods: {
                    toggleHistory: function (value){
                        this.isHistory = value;
                    },
                    getData: function() {
                        tableData.splice(0);
                        GetTableData(this.selected);
                    }
                }
            })
        </script>
    </body>
    <footer>
    <div class="footer-copyright text-center py-3">
        <a href="https://github.com/Jeffroiscool/ffxiv-vendormarketprices/"> Find my project at Github</a>
    </div>
    </footer>
</html>