<html>
    <head>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/slate/bootstrap.min.css">-->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-LS4/wo5Z/8SLpOLHs0IbuPAGOWTx30XSoZJ8o7WKH0UJhRpjXXTpODOjfVnNjeHu" crossorigin="anonymous">        
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
        <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
        <script src="logic.js"></script>
        <title>FFXIV - Vendor Items on the Market Board</title>
    </head>
    <body>
        <div class="container">
            <div class="container-fluid">
                <div id="app">
                    <b-container class="pt-3">
                        <b-row class="mb-2">
                            <b-col>
                                <h1>FFXIV - Vendor Items on the Market Board</h1>
                            </b-col>
                        </b-row>
                        <b-row class="mb-2">
                            <b-col>
                                Select a realm to get the market data from!
                            </b-col>
                        </b-row>
                        <b-row class="mb-2">
                            <b-col cols="4">
                                <b-form-group>
                                    <b-input-group>
                                        <b-form-select v-model="selected" :options="servers"></b-form-select>
                                        <b-input-group-append>
                                            <b-button v-on:click="getData" class="mr-2" variant="primary">
                                                Get Data
                                            </b-button>
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-form-group>
                            </b-col>
                            <b-col cols="4" offset="4">
                                <b-form-group>
                                    <b-input-group>
                                        <b-form-input v-model="keyword" placeholder="Search.."></b-form-input>
                                        <b-input-group-append>
                                            <b-button :disabled="!keyword" @click="keyword = ''">Clear</b-button>
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <b-table 
                                    thead-tr-class="table-primary"
                                    striped 
                                    dark 
                                    hover
                                    small
                                    :sort-by.sync="sortBy"
                                    :sort-desc.sync="sortDesc"
                                    :fields="fields"
                                    :items="filteredItems"
                                    :busy.sync="isBusy"
                                >
                                    <div slot="table-busy" class="text-center text-primary my-2">
                                        <b-spinner class="align-middle"></b-spinner>
                                        <strong>Loading...</strong>
                                    </div>
                                    <template slot="listings" slot-scope="row">
                                        <b-button size="sm" @click="toggleHistoryListing(row, 1)" class="mr-2" variant="primary">
                                            Listings
                                        </b-button>
                                    </template>
                                    <template slot="history" slot-scope="row">
                                        <b-button size="sm" @click="toggleHistoryListing(row, 2)" class="mr-2" variant="primary">
                                            History
                                        </b-button>
                                    </template>
                                    <template slot="row-details" slot-scope="row">
                                        <b-table v-if="row.item.type_showing === 2" :items="row.item.history"
                                            thead-tr-class="table-primary"
                                            striped 
                                            dark 
                                            hover
                                            small
                                        >
                                            <template slot="hq" slot-scope="data"> {{ data.value ? 'Yes' : 'No' }} </template>
                                            <template slot="sold_on" slot-scope="data"> {{ new Date(data.value * 1000).toLocaleString() }} </template>
                                        </b-table>
                                        <b-table v-if="row.item.type_showing === 1" :items="row.item.sub_listings"
                                            thead-tr-class="table-primary"
                                            striped 
                                            dark 
                                            hover
                                            small
                                        >
                                            <template slot="hq" slot-scope="data"> {{ data.value ? 'Yes' : 'No' }} </template>
                                        </b-table>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                    </b-container>
                </div>
            </div>
        </div>
        <script>
            let vm = new Vue({
                el: '#app',
                data: () => ({
                    isBusy: false,
                    sortBy: "ID",
                    sortDesc: false,
                    tableData: null,
                    fields: [
                        { key: "ID", sortable: true},
                        { key: "item_name", sortable: true},
                        { key: "on_market", sortable: true},
                        { key: "vendor_price", sortable: true},
                        { key: "lowest_price", sortable: true},
                        { key: "avg_price", sortable: true},
                        { key: "profit", sortable: true},
                        { key: "time_to_sell", sortable: true},
                        { 
                            key: "last_sale_date", 
                            sortable: true,
                            formatter: (value, key, item) => {
                                return new Date(value * 1000).toLocaleString();
                            }
                        },
                        { key: "listings"},
                        { key: "history"}
                    ],
                    items: "filteredItems",
                    keyword: null,
                    selected: "Ragnarok",
                    servers: serverOptions
                }),
                methods: {
                    toggleHistoryListing: function (row, value){
                        let doToggle = false;

                        if(row.item.type_showing === value || row.item.type_showing === 0){
                            doToggle = true;
                        }
                        
                        if(row.item.type_showing != value){
                            row.item.type_showing = value;
                        }

                        if(doToggle){
                            if(row.detailsShowing){
                                row.item.type_showing = 0
                            }
                            row.toggleDetails();
                        }  
                    },
                    getData: async function() {
                        this.isBusy = true;
                        if(this.tableData !== null){
                            this.tableData.splice(0);
                        }
                        GetTableData(this.selected).then(data => {
                            this.tableData = data;
                            this.isBusy = false;
                        });
                    }
                },
                computed: {
                    filteredItems: function () {
                        return this.keyword ? this.tableData.filter(item => item.item_name.toLowerCase().includes(this.keyword.toLowerCase())) : this.tableData;
                    }
                }
            })
        </script>
    </body>
    <footer>
    <div class="footer-copyright text-center py-3">
        <a href="https://github.com/Jeffroiscool/ffxiv-vendormarketprices/"> Find my project at Github</a>
    </div>
    </footer>
</html>